<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/aperture"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aperture"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeasurementApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatePickerDialogActivity"
            android:label="日期时间滚轮选择器" />
        <activity
            android:name=".Natal_chart"
            android:label="命盘" />

    </application>

</manifest>